
.centerme{
    max-width: 99%;
    max-height: 99%;
}

.small{
    max-width: 3%;
    max-height: 3%;
}

.subscriptions{
    overflow: hidden;
    overflow-y:scroll;
    max-height: 20em;
    background-image: "./TABLOIDBOLD.jpg";
    position: relative;
}

.subscriptions::-webkit-scrollbar {
    display: none;
}